:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-left: 20px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: white;
  background-color: rgb(99, 156, 255);
  z-index: 1;
  box-shadow: 0px 2.98px 7.45px 2px rgba(30, 29, 29, 0.1);
}

.sidebar {
  width: 30%;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;  
  background-color: rgb(243, 243, 243);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 70%;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  padding: 0 30px;
}

.todo-list-title {
  margin-bottom: 0;
}

.todo-list-container {
  margin: 10px 0;
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: 1px solid lightgray;
}

.list-item-container {
  display: flex;
  transition: 0.8s;
  padding: 5px 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  margin: 2px 0;
  cursor: pointer;
}

.list-item-container:hover {
  background-color: rgb(214, 210, 210);
}

li {
  margin: 2px 0;
}

.list-item-length {
  border-radius: 50%;
  padding: 2px 8px;
  background-color: rgb(99, 156, 255);
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.main-todo-list-title {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

/* .todo {

} */